applications:
  applications:
    namespace: argocd
    project: default
    source:
      repoURL: git@github.com:v01d42/argocd-sample.git
      targetRevision: main
      path: helmfiles
      directory:
        recurse: false
        include: "*.yaml"
    destination:
      server: https://kubernetes.default.svc
      namespace: argocd
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
      syncOptions:
        - CreateNamespace=true
        - ServerSideApply=true
