repositories:
  - name: argo
    url: https://argoproj.github.io/argo-helm

releases:
  - name: argocd
    namespace: argocd
    chart: argo/argo-cd
    version: 9.4.7
    values:
      - ./vars/argocd/values.yaml.gotmpl

  - name: root-app
    namespace: argocd
    chart: argo/argocd-apps
    version: 2.0.4
    needs:
      - argocd/argocd
    values:
      - ./vars/root-app/values.yaml.gotmpl
